.jsgrid-container {
  margin-bottom: 20px;

  .jsgrid-content {
    .spin-main {
      font-size: 25px;
      opacity: 0.3;
      padding: 20px 0 0 0;
    }
  }

  .jsgrid-controls {
    margin-bottom: 15px;

    .jsgrid-ajax-spin {
      margin: 2px 6px 0 0;
    }

    .jsgrid-search {
      max-width: 200px;
      margin: 0 12px 0 0;
    }

    .jsgrid-total {
      margin-top: 8px;
    }

    .dropdown-menu {
      min-width: 50px;
    }
  }

  .jsgrid-filter-default {
    .dropdown-menu {
      min-width: 180px;
      padding: 10px 12px;

      input.form-control {
        font-size: 12px;
        font-weight: normal;
        height: 31px;
      }
    }
  }

  .jsgrid-filter-select {
    .dropdown-menu {
      a.dropdown-item {
        font-size: 12px;
      }
    }
  }

  .table-responsive {
    font-size: 14px;
    min-height: 200px;

    input {
      font-size: 14px;
    }
  }

  .jsgrid-input-error {
    border-color: #d9534f;
  }

  .jsgrid-validation-result {
    color: #d9534f;
  }
}

/* Font */

.font-bold {
  font-weight: bold !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

/* Opacity */

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}